n8n/backup/workflows/https-inspection-mcp-OpenAI.json
{
  "name": "https-inspection-mcp-OpenAI",
  "nodes": [
    {
      "parameters": {},
      "id": "47865538-2620-4608-86fd-d0697aa855f3",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        768,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "nNfAshAXNQ81bjc7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent with Check Point Quantum HTTPS Inspection MCP",
        "height": 527,
        "width": 1337,
        "color": 5
      },
      "id": "6accde33-316b-42f3-a3c4-7a48967662a8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        -144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9e279237-c20f-4495-a2a3-c2d0271483ff",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        16
      ],
      "webhookId": "df6e86fa-f71a-4dce-bf1f-86b8b8a01a49"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a smart AI assistant. Always follow these rules:\n\n1. Start every run by calling \"List-CP-MCP-Tools\". Do not execute yet.\n2. Show the available tool names.\n3. Use the best available tool name from step 1 in the tool CP-MCP-Client.\n4. summarize the results you receive from check point after triggering the CP-MCP-Client in the previous step."
        }
      },
      "id": "f0147e8a-ec3f-4ff4-9946-1576d6c8a4e7",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        896,
        16
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e3528d03-2108-4fd2-b216-a8a1df9c14b3",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        16
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        240
      ],
      "id": "73aa8e04-0952-4593-bc7d-4081dd052f43",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        896,
        240
      ],
      "id": "2273849a-ed10-45e9-b7cc-ff53ecde8487",
      "name": "List-CP-MCP-Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "pqebWeq5DURjZHF8",
          "name": "https-inspection-mcp"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('Tool_Name') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1024,
        240
      ],
      "id": "c3b8a57c-8aec-4ec4-a4f8-91d90bbe5a74",
      "name": "CP-MCP-Client",
      "credentials": {
        "mcpClientApi": {
          "id": "pqebWeq5DURjZHF8",
          "name": "https-inspection-mcp"
        }
      }
    },
    {
      "parameters": {
        "content": "What are the HTTPS inspection rules I have in the \"Default Outbound Layer\"? I have a  package called Standard",
        "height": 80,
        "width": 416,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        288
      ],
      "typeVersion": 1,
      "id": "42c22d2d-c7c7-49f7-8ac6-e14b01772658",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1152,
        240
      ],
      "id": "0fc71b2f-c2fa-4723-bb04-7bceb1b7691e",
      "name": "Think"
    },
    {
      "parameters": {
        "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        1280,
        240
      ],
      "id": "50c23762-6abe-4541-b785-27a7aba3cef9",
      "name": "Date & Time"
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "List-CP-MCP-Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CP-MCP-Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [],
        []
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ba8f263-ced7-4e23-8b0a-a69174c957c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab6afa127a7b23130db6354e6660985410c61809b5b2a6d460cab8310f7e56d9"
  },
  "id": "CHDPSOVhu4F2ufLO",
  "tags": []
}