n8n/backup/workflows/quantum-multiple-mcp-OpenAI.json
{
  "name": "quantum-multiple-mcp-OpenAI",
  "nodes": [
    {
      "parameters": {},
      "id": "30dff1f8-615a-4a0f-9da0-73032d41ae22",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        496,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "nNfAshAXNQ81bjc7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent with Check Point Quantum Management MCP",
        "height": 511,
        "width": 1049,
        "color": 5
      },
      "id": "7e09134b-a641-4cbb-ba4f-8d47c1a9a623",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e5c87b44-6fac-43c4-8398-146cc5378178",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        96,
        176
      ],
      "webhookId": "aee20cdf-bfdd-4817-aaeb-d4421c07cfaa"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a smart AI assistant. Always follow these rules:\n\n1. Start every run by calling \"List-CP-MCP-Tools-*\". Do not execute yet.\n2. Show the available tool names.\n3. Use the best available tool name from step 1 in the tool CP-MCP-Client.\n4. summarize the results you receive from check point after triggering the CP-MCP-Client in the previous step."
        }
      },
      "id": "663cf6a3-0ca5-4650-8da0-4951c95ebc4a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        656,
        64
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "options": {}
      },
      "id": "908f9166-b148-4309-a668-9ca614dea2e1",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        128
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        368
      ],
      "id": "d32431b5-549b-4c05-b5d8-4a7e42707d89",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Is there a rule in the DNS_Layer to allow traffic to 8.8.8.8?",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        416
      ],
      "typeVersion": 1,
      "id": "9468cd75-e18a-4339-9ea2-ea7daa3630c6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        656,
        368
      ],
      "id": "2b0d674b-e0fc-476e-96c8-d843af1188d5",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "description": "=Think about the best tool to use and the supported parameters"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        832,
        368
      ],
      "id": "b1aa0f0d-ec33-4c30-b302-0ab046851ae7",
      "name": "Think",
      "notesInFlow": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1152,
        352
      ],
      "id": "6167495d-cf5b-43e9-bf3c-7de30435af0f",
      "name": "List-CP-MCP-Tools-Logs",
      "credentials": {
        "mcpClientApi": {
          "id": "DRX9AQypoFwM6rrz",
          "name": "management-logs-mcp"
        }
      }
    },
    {
      "parameters": {
        "content": "## Check Point MCP Tools",
        "height": 511,
        "width": 745,
        "color": 7
      },
      "id": "b2711c37-8965-4e34-9035-894125d6d4fe",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        0
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1136,
        112
      ],
      "id": "bed070ac-368b-4a56-9c77-ba9488ce331b",
      "name": "List-CP-MCP-Tools-MGMT",
      "credentials": {
        "mcpClientApi": {
          "id": "HuDnPRntF8FnjKDm",
          "name": "quantum-management-mcp"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('Tool_Name') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1344,
        112
      ],
      "id": "f69630e9-eda5-49d1-b05d-2d8c5a739302",
      "name": "CP-MCP-Client-MGMT",
      "credentials": {
        "mcpClientApi": {
          "id": "HuDnPRntF8FnjKDm",
          "name": "quantum-management-mcp"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('Tool_Name') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1344,
        352
      ],
      "id": "285d632d-78e9-452b-a91a-12e9d57893c7",
      "name": "CP-MCP-Client-Los",
      "credentials": {
        "mcpClientApi": {
          "id": "DRX9AQypoFwM6rrz",
          "name": "management-logs-mcp"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1504,
        112
      ],
      "id": "7db00981-9133-411d-9553-bf59b5e80a9e",
      "name": "List-CP-MCP-Tools-HTTPS",
      "credentials": {
        "mcpClientApi": {
          "id": "pqebWeq5DURjZHF8",
          "name": "https-inspection-mcp"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('Tool_Name') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1536,
        352
      ],
      "id": "41ebf9ec-fa61-42bd-a283-be5d637ba2eb",
      "name": "CP-MCP-Client-HTTPS",
      "credentials": {
        "mcpClientApi": {
          "id": "pqebWeq5DURjZHF8",
          "name": "https-inspection-mcp"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1680,
        112
      ],
      "id": "6e8b3e86-7286-4214-b541-3cfff9bd3d02",
      "name": "List-CP-MCP-Tools-Documentation",
      "credentials": {
        "mcpClientApi": {
          "id": "YRXnRGlbN0WnERvA",
          "name": "documentation-mcp"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('Tool_Name') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1680,
        352
      ],
      "id": "752bb6b0-1a19-4e28-a77c-0742da416b73",
      "name": "CP-MCP-Client-Documentation",
      "credentials": {
        "mcpClientApi": {
          "id": "YRXnRGlbN0WnERvA",
          "name": "documentation-mcp"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List-CP-MCP-Tools-Logs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List-CP-MCP-Tools-MGMT": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CP-MCP-Client-MGMT": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CP-MCP-Client-Los": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List-CP-MCP-Tools-HTTPS": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CP-MCP-Client-HTTPS": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List-CP-MCP-Tools-Documentation": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CP-MCP-Client-Documentation": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2c0a90d-ae51-4626-9fa7-f687dbf8e977",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab6afa127a7b23130db6354e6660985410c61809b5b2a6d460cab8310f7e56d9"
  },
  "id": "Is2CRskObVuPLVjE",
  "tags": []
}