n8n/backup/workflows/quantum-management-mcp-OpenAI.json
{
  "name": "quantum-management-mcp-OpenAI",
  "nodes": [
    {
      "parameters": {},
      "id": "25b4231b-de4f-41d0-baf1-48677b3fd556",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        592,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "nNfAshAXNQ81bjc7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent with Check Point Quantum Management MCP",
        "height": 527,
        "width": 1257,
        "color": 6
      },
      "id": "f000078b-b73c-425e-9961-a4ad17c6f0cf",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -8.5,
        1
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9b4b37be-8789-4aa0-bf2e-c75d801f63f8",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        128,
        144
      ],
      "webhookId": "aee20cdf-bfdd-4817-aaeb-d4421c07cfaa"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a smart AI assistant. Always follow these rules:\n\n1. Start every run by calling \"List-CP-MCP-Tools\". Do not execute yet.\n2. Show the available tool names.\n3. Use the best available tool name from step 1 in the tool CP-MCP-Client.\n4. summarize the results you receive from check point after triggering the CP-MCP-Client in the previous step."
        }
      },
      "id": "f19709bd-504e-4543-8473-76e4bfbf9a7b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        720,
        144
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "05b22509-4f61-4a59-8396-30cb5dbeb933",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        144
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        368
      ],
      "id": "1d04aee7-ed89-46ff-9f69-863f1c79a120",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6oZqD0UJampaYWCy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        720,
        368
      ],
      "id": "84cae8bd-3824-4d16-aa8e-8617ebcc5958",
      "name": "List-CP-MCP-Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "HuDnPRntF8FnjKDm",
          "name": "quantum-management-mcp"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('Tool_Name') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        848,
        368
      ],
      "id": "a722fd73-eb42-47e8-9cae-4b27ade51cc5",
      "name": "CP-MCP-Client",
      "credentials": {
        "mcpClientApi": {
          "id": "HuDnPRntF8FnjKDm",
          "name": "quantum-management-mcp"
        }
      }
    },
    {
      "parameters": {
        "content": "Is there a rule in the DNS_Layer to allow traffic to 8.8.8.8?",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        432
      ],
      "typeVersion": 1,
      "id": "37577c70-7c60-43cb-8496-b7e6d11ff7b6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        976,
        368
      ],
      "id": "f7ee2503-fa8a-4818-8511-f5741a323448",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1104,
        368
      ],
      "id": "c81dd8a9-f8be-44ac-8bc4-1f6792ad801a",
      "name": "Think"
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "List-CP-MCP-Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CP-MCP-Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [],
        []
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95ff173a-cb0b-4899-a407-a12e5fefe2ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab6afa127a7b23130db6354e6660985410c61809b5b2a6d460cab8310f7e56d9"
  },
  "id": "th0b6r2DJkkXI8G0",
  "tags": []
}